body >* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(img/background_dots.jpg);
	background-repeat: repeat;
	font-family: Tahoma;
	font-size: 14px;
}

body > header:nth-child(1) {
	width: 103%;
	margin: -7px;
	text-align: center;
	color: yellow;
	font-weight: bold;
	font-size: 40px;
	height: 60px;
	background: linear-gradient(
	to right,
	#F00000,
	#F00000 33.3%,
	#3FA051 33.3%,
	#3FA051 67.7%,
	blue 67.7%);	
}

nav {
	background: rgba(255, 255, 255, 0.83);
	width: 210px;
	height: 220px;
	border-radius: 10px;
	position: fixed;
	margin-top: 30px;
	margin-left: 10px;
}

nav ul li {
	list-style-type: none;
	padding: 5px;
	margin-left: -30px;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

nav ul li a:visited {
	color: grey;
}

nav ul .red:hover {
	margin-left: -30px;
	margin-right: 10px;
	background: #F00000;
	border-radius: 5px;
	list-style-position: inside;
}

nav ul .yellow:hover {
	margin-left: -30px;
	margin-right: 10px;
	background: #FFF000;
	border-radius: 5px;
	list-style-position: inside;
}

nav ul .orange:hover {
	margin-left: -30px;
	margin-right: 10px;
	background: #FFA800;
	border-radius: 5px;
	list-style-position: inside;
}

nav ul .green:hover {
	margin-left: -30px;
	margin-right: 10px;
	background: #3FA051;
	border-radius: 5px;
	list-style-position: inside;
}

nav ul .lightgreen:hover {
	margin-left: -30px;
	margin-right: 10px;
	background: #02FE15;
	border-radius: 5px;
	list-style-position: inside;
}

nav ul .purple:hover {
	margin-left: -30px;
	margin-right: 10px;
	background: #9700EF;
	border-radius: 5px;
	list-style-position: inside;
}

nav header {
	font-size: 20px;
	text-decoration: underline;
	padding-left: 20px;
}

article {
	width: 60%;
	height: auto;
	background: rgba(255, 255, 255, 0.83);
	border-radius: 10px;
	margin-left: 300px;
	margin-top: 30px;
	padding: 15px;
}

article header {
	color: white;
	font-size: 20px;
	padding: 5px;
	border-radius: 10px;
}

article .big {
	font-size: 40px;
}

article .italic {
	font-style: italic;
}

article .italic-blue {
	font-style: italic;
	color: blue;
}

article a {
	color: gray;
}

article #red-header {
	background: #F00000;
}

article #orange-header {
	background: #FFA800;
}

article #yellow-header {
	background: #FFF000;
}

article #green-header {
	background: #3FA051;
}

article #lightgreen-header {
	background: #02FE15;
}

article #purple-header {
	background: #9700EF;
}